
.Auth-form-container {
    background-image: url(https://wallpaperaccess.com/full/866649.jpg);
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    height: 100vh;
  
  }
  
  .Auth-form {
    margin-top: 5%;
    width: 420px;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: transparent;
    max-width: 400px;
  }
  
  .Auth-form-content {
    padding-left: 12%;
    padding-right: 12%;
  }
  
  .Auth-form-title {
    text-align: center;
    margin-bottom: 0.5em;
    font-size: 40px;
    color: rgb(34, 34, 34);
    font-weight: 800;
  }
  
  label {
    font-size: 20px;
    font-weight: 600;
    color: rgb(34, 34, 34);
    text-align: left;
  }
  .Auth-form-content input {
    background-color: rgba(255, 255, 255, 0.371);
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    width: 100%;
    margin-top: 10px;
  }

  .Auth-form-content button[type="submit"] {
    background-color: #007bff;
    width: 60%;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 18px;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .Auth-form-content button[type="submit"]:hover {
    background-color: #0069d9;
  }
  
