.container1 {
    height: 100px;
    background-color: rgb(255, 255, 255);
  }
  .Wrapper {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .left {
    flex: 1;
    display: flex;
    align-items: center;
    
  }
  .left img{
    width: 70px;
    border: 1px solid lightgray;
    display: flex;
    align-items: center;
    margin-left: 25px;
    padding: 5px;
    height: 4em;
  }

  .right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .logo h1 {
    font-weight: bold;
    color: #740c0c;
    padding-left: 15px;
    align-items: center;
  }
  
  .menuitems {
    font-size: 16px;
    color: rgb(233, 20, 20);
    font-weight: bold;
    cursor: pointer;
    margin-left: 2em;
    margin-right: 3em;
  
  }
 